img {
  height: 21em;
  position: fixed;
  top: 9.8%;
  left: 50%;
  transform: translate(-50%, -23.8%);
}

.card-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  text-align: center;
  border: 3px solid #000;
  padding: 50px;
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
  animation: borderRotate var(--d) linear infinite forwards;
}

button {
  width: 70px;
  height: 30px;
  margin-top: 20px;
}
